name: Go Format

on:
  push:
    branches: [ 'main', 'release-*' ]
  pull_request:
    branches: [ 'main', 'release-*' ]

permissions:
  contents: read
  
jobs:

  format:
    name: Format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: 1.25
          cache-dependency-path: v2/go.sum
        id: go

      - name: Go Format
        shell: bash
        run: |
          gofmt -s -w $(find -type f -name '*.go' -print)

      - name: Verify
        shell: bash
        run: |
          if [[ $(git diff-index --name-only HEAD --) ]]; then
              echo "Found diffs in:"
              git diff-index --name-only HEAD --
              echo "${{ github.repository }} is out of style. Please run go fmt."
              exit 1
          fi
          echo "${{ github.repository }} is formatted correctly."
